@import url(//fonts.googleapis.com/css?family=Lato:300:400);

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background-color: #5c4033;
    color: white;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    letter-spacing: 2px;
    padding: 20px;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    letter-spacing: 2px;
    padding: 20px;
}

a {
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    letter-spacing: 2px;
    padding: 20px;
    color: lightpink;
    text-decoration: none;
}

.form{
    display: flex;
    justify-content: center;
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    top: 200px;
}

.element {
    padding: 20px;
    display: inline-block;
}
